<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">

    <arg name="world_name" value="$(find diff_drive_simulation)/worlds/cafe.world" />

    <arg name="paused" value="false" />
    <arg name="use_sim_time" value="true" />
    <arg name="gui" value="true" />
    <arg name="recording" value="false" />
    <arg name="debug" value="false" />

  </include>

    <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find diff_drive_description)/urdf/diff_drive.xacro'" />

 <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-x -4.0 -y -8.5 -z 0.1 -urdf -model diff_drive -param robot_description" />

 <!-- Publishes joint positions - Joint state publisher -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- Uses URDF and Joint positions to compute transforms of robot -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Gmapping pacakge for mapping  -->

  <node name="gmapping" pkg="gmapping" type="slam_gmapping" output="screen">
    <remap from="scan" to="/scan" />
    <rosparam file="$(find diff_drive_simulation)/config/gmapping.yaml" command="load" />
  </node>

</launch>
